
body{
	background-color:#FDF5E6;
	font-family: Times;
}

a{
	text-decoration: none;
	color:#696969;
	font-weight:bolder;
	font-size:16px;
}
a:hover{
	color:#2F4F4F;
	font-weight:bolder;
	font-family:Dekko;
}
h1{
	color:#BC8F8F;
	font-size:40px;
  font-family: "Lemon", serif;
  font-weight: 800;
  font-style: normal;
  text-align: center;
}


h2{
	color:#F08080;
	font-size:24px;
  font-family: "Dekko", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}



p,p1{
color:#2F4F4F;
font-size:16px;
font-family:"Helvetica";

}

li{
	color:#DB7093;
	
}




.img-circle{
	border-radius:50%;
width:100px;
text-align: center;
}


.box{
	border: 1px solid #A9A9A9;

	fontweight:bold;
	background:#FAF0E6;
	border-radius:4px;
	padding: 40px;
	margin:20px auto;
	box-shadow: 0 10px 30px rgba(0,0,0,.1);
	text-align: center;
}

.container{
	width: 700px;
	margin:40px auto;



}

@media (max-width:750px){
.container{
width: 600px;
}


	
}

@media (max-width:500px){
.container{
width: 400px;
}


}

.btn-pink{
	background-color: #F08080;
	color:#2F4F4F;
	padding: 1px;
	border-radius: 4px;
}
.btn-pink:hover{
	background-color:#BC8F8F ;
	color:#FFF8DC  ;
}

.list-horizontal{
	list-style: none;
	padding-left: 0px;
}
.list-horizontal li{
	display: inline;
	padding: 10px;
}
.list-horizontal i{
	font-size: 50px;
}
.list-horizontal i:hover{
	color: black;
}


.list-single{
	list-style: none;
}
.list-single i{
	font-size: 50px;
}

.list-single i:hover{
	color: black;
}




#profile{
	margin-bottom: 20px;
}